/* You can add global styles to this file, and also import other style files */

/* Import a prebuilt Angular Material theme */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

h1 {
    display: inline-block;
}
h2 {
    display: inline-block;
}
html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #101010;
    color: #efefef;
}
