<div class="category">
    <div class="category-header">
        <button mat-mini-fab (click)="toggle()">
            <mat-icon>{{ toggleIcon }}</mat-icon>
        </button>
        <h2>{{ title }}</h2>
        <div class="sum">{{ sum | currency }}</div>
        <button mat-mini-fab (click)="onAdd()" class="add" [ngClass]="{ 'visible' : isVisible }">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="category-content" [ngClass]="{ 'visible' : isVisible }">
        @if (lineItems !== null && lineItems.length > 0) {
            @for (lineItem of lineItems; track lineItem.id) {
                <app-line-item [lineItem]="lineItem" [difference]="difference" (save)="onSave()" (delete)="onDelete(lineItem.id)"></app-line-item>
            }
        }
        @else {
            <p>{{ emptyMessage }}</p>
        }
    </div>
</div>
