<div class="category">
    <div class="category-header">
        <button mat-mini-fab (click)="toggle()">
            <mat-icon>{{ toggleIcon }}</mat-icon>
        </button>
        <h2>{{ title }}</h2>
        <div class="sum">{{ sum | currency }}</div>
    </div>
    <div class="category-actions">
        <button mat-mini-fab (click)="onAdd()" class="add" [ngClass]="{ 'visible' : isVisible }">
            <mat-icon>add</mat-icon>
        </button>
        @if (usePaymentDate) {
            <button mat-mini-fab (click)="toggleFuture()" class="toggle-future" [ngClass]="{ 'visible' : isVisible }">
                <mat-icon>{{ this.toggleFutureIcon }}</mat-icon>
            </button>
        }
    </div>
    <div cdkDropList class="category-list" [ngClass]="{ 'visible' : isVisible }" (cdkDropListDropped)="drop($event)">
        @if (lineItems !== null && lineItems.length > 0) {
            @for (lineItem of lineItems; track lineItem.id) {
                @if (usePaymentDate) {
                    <div class="category-item {{ determineCssClassByDate(lineItem.date) }}">
                        <div>{{ lineItem.date | date:'YYYY.MM.dd' }}</div>
                        <app-line-item [lineItem]="lineItem" [difference]="difference" (save)="onSave()" (delete)="onDelete(lineItem.id)"></app-line-item>
                    </div>
                }
                @else {
                    <div class="category-item" cdkDrag>
                        <span cdkDragHandle>
                            <mat-icon>drag_handle</mat-icon>
                        </span>
                        <app-line-item [lineItem]="lineItem" [difference]="difference" (save)="onSave()" (delete)="onDelete(lineItem.id)"></app-line-item>
                    </div>
                }
            }
        }
        @else {
            <p>{{ emptyMessage }}</p>
        }
    </div>
</div>
