h2 {
    margin-left: 0.25rem;
}


.category {
    margin: 0 1rem;
}

.category-header {
    display: flex;
    align-items: center;
}

.category-content {
    display: none;
}

.sum {
    margin-left: auto;
}

.add {
    margin-left: 0.5rem;
    display: none;
}

.visible {
    display: block;
}