<div class="difference" [ngStyle]="{ 'background-color': differenceBackgroundColor, 'color': differenceFontColor }">
    {{ difference | currency }}
</div>
<app-category
      title="Income"
      [lineItems]="this.incomes"
      emptyMessage="No income."
      (add)="addIncome()"
      (save)="saveIncomes()"
      (delete)="deleteIncome($event)"></app-category>
<app-category
      title="Funds"
      [lineItems]="this.funds"
      emptyMessage="No funds."
      [difference]="difference"
      (add)="addFund()"
      (save)="saveFunds()"
      (delete)="deleteFund($event)"></app-category>
<app-category
      title="Planned"
      [lineItems]="this.planned"
      emptyMessage="No planned expenses."
      [usePaymentDate]="true"
      (add)="addPlanned()"
      (save)="savePlanned()"
      (delete)="deletePlanned($event)"></app-category>