.transaction {
    display: flex;
    align-items: center;
}

.transaction-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.transaction-amount {
    margin-left: auto;
    text-align: right;
}

.negative {
    color: indianred;
}

.positive {
    color: lightgreen;
}