<h2 mat-dialog-title>Edit</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" />
  </mat-form-field><br />
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput [(ngModel)]="data.amount" />
  </mat-form-field><br />
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.date">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br />
  @if (data.date !== undefined) {
    <mat-form-field>
      <mat-label>Cycle Value</mat-label>
      <input matInput [(ngModel)]="data.cycleValue" />
    </mat-form-field><br />
    <mat-form-field>
      <mat-label>Cycle Type</mat-label>
      <mat-select [(ngModel)]="data.cycleType" name="type">
        @for (type of availableTypes; track type) {
          <mat-option [value]="type">{{ type }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="save()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
