<main class="main">
  <div class="content">
    <h1>Budgeteer</h1>
    <div class="difference" [ngStyle]="{ 'background-color': differenceBackgroundColor, 'color': differenceFontColor }">
      {{ difference | number: '1.2' }}
    </div><br />
    <app-category
      title="Incomes"
      [lineItems]="this.incomes"
      emptyMessage="No incomes."
      (add)="addIncome()"
      (save)="saveIncomes()"
      (delete)="deleteIncome($event)"></app-category>
    <app-category
      title="Funds"
      [lineItems]="this.funds"
      emptyMessage="No funds."
      [difference]="difference"
      (add)="addFund()"
      (save)="saveFunds()"
      (delete)="deleteFund($event)"></app-category>
    <app-category
      title="Monthlies"
      [lineItems]="this.monthlies"
      emptyMessage="No monthly expenses."
      [difference]="difference"
      (add)="addMonthly()"
      (save)="saveMonthlies()"
      (delete)="deleteMonthly($event)"></app-category>
    <app-category
      title="Planned"
      [lineItems]="this.nonMonthlies"
      emptyMessage="No planned expenses."
      [difference]="difference"
      (add)="addPlanned()"
      (save)="savePlanned()"
      (delete)="deletePlanned($event)"></app-category>
  </div>
</main>
