:host {
  font-family: "Roboto", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0 0.5rem 1rem 0.5rem;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 700px;
}

fa-icon {
  padding-left: 0.5rem;
}

.title {
  font-weight: bold;
  font-size: 1.25em;
}

.spacer {
  flex: 1 1 auto;
}
