<main class="main">
  <div class="content">
    <h1>{{ title }}</h1>
    <h2>Incomes</h2><fa-icon [icon]="faPlus" (click)="addIncome()"></fa-icon>
    @if (incomes !== null && incomes.length > 0) {
      @for (income of incomes; track income.id) {
        <app-income [income]="income" (delete)="deleteIncome(income.id)"></app-income>
      }
    }
    @else {
        <div>No incomes.</div>
    }
    
    <h2>Categories</h2>
    <app-categories [categories]="categories" [incomeSum]="incomeSum"></app-categories>
  </div>
</main>
