<div class="line-item">
    <div class="line-item-name">{{ lineItem.name }}</div>
    <div class="line-item-amount">{{ lineItem.amount | currency }}</div>
    <div class="line-item-actions">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            @if (difference !== undefined) {
                <button mat-menu-item (click)="applyClick()" disabled="{{ difference === 0 }}">
                    <mat-icon>sync</mat-icon>
                    <span>Apply</span>
                </button>
            }
            @if (lineItem.cycleValue !== undefined) {
                <button mat-menu-item (click)="cycleClick()">
                    <mat-icon>sync</mat-icon>
                    <span>Cycle</span>
                </button>
            }
            <button mat-menu-item (click)="editClick()">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteClick()">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </div>
</div>