.line-item {
    display: flex;
    align-items: center;
}

.line-item-desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.line-item-amount {
    margin-left: auto;
    text-align: right;
}

mat-icon {
    color: #efefef;
}

.overdue {
    color: yellow;
    font-weight: bold;
}

.remaining {
    font-weight: bold;
    color: rgb(85, 226, 85);
}

.neutral {
    color: gray;
}

.negative {
    color: red;
}