<mat-divider></mat-divider>
<div class="line-item">
    <div class="line-item-desc">
        {{ lineItem.name }}
        <div class="secondary" [class.overdue]="isOverdue(lineItem.date)">{{ lineItem.date | date:'YYYY.MM.dd' }}</div>
        
    </div>
    <div class="line-item-amount">
        <div class="remaining"
            [class.neutral]="isNeutral(lineItem)"
            [class.negative]="isNegative(lineItem)">{{ getRemaining(lineItem) | currency }}</div>
        <div class="secondary">{{ lineItem.assigned | currency }}</div>
    </div>
    <div class="line-item-actions">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            @if (lineItem.cycleValue !== undefined) {
                <button mat-menu-item (click)="cycleClick()">
                    <mat-icon>sync</mat-icon>
                    <span>Cycle</span>
                </button>
            }
            @if (this.difference !== 0) {
                <button mat-menu-item (click)="balanceClick()">
                    <mat-icon>balance</mat-icon>
                    <span>Balance</span>
                </button>
            }
            <button mat-menu-item (click)="editClick()">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteClick()">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </div>
</div>
