<div class="month-difference-bar" [ngStyle]="{ 'background-color': differenceBackgroundColor, 'color': differenceFontColor }">
    <div class="active-month">{{ displayCurrentMonthYear() }}</div>
    <div class="difference">{{ difference | currency }}</div>
</div>
<div class="actions">
    <button mat-mini-fab (click)="addLineItem()">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div class="list">
    @for (lineItem of lineItems; track lineItem) {
        <app-line-item [lineItem]="lineItem" [difference]="difference" (save)="saveLineItems()" (delete)="deleteLineItem(lineItem)"></app-line-item>
    }
</div>
