<div class="difference" [ngStyle]="{ 'background-color': differenceBackgroundColor, 'color': differenceFontColor }">
    {{ difference | currency }}
</div>
<app-category
      title="Income"
      [lineItems]="this.incomes"
      emptyMessage="No income."
      [todaysDate]="this.todaysDate"
      (add)="addLineItem(this.incomes, 'incomes')"
      (save)="saveIncomes()"
      (delete)="deleteIncome($event)"></app-category>
<app-category
      title="Funds"
      [lineItems]="this.funds"
      emptyMessage="No funds."
      [difference]="difference"
      [todaysDate]="this.todaysDate"
      (add)="addLineItem(this.funds, 'funds')"
      (save)="saveFunds()"
      (delete)="deleteFund($event)"></app-category>
<app-category
      title="Planned"
      [lineItems]="this.planned"
      emptyMessage="No planned expenses."
      [usePaymentDate]="true"
      [todaysDate]="this.todaysDate"
      [isSortedAlphabetically]="this.isSortedAlphabetically"
      (add)="addPlanned()"
      (save)="savePlanned()"
      (delete)="deletePlanned($event)"
      (toggleSort)="toggleSort()"></app-category>