div.difference {
    padding: 0.5rem;
    text-align: right;
    font-weight: bold;
    font-size: 2rem;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.line-item-list {
    padding: 0 1rem;
}

.future {
    display: var(--future-display);
}

app-line-item {
    width: 100%;
}