div.month-difference-bar {
    padding: 1rem;
    text-align: right;
    font-weight: bold;
    font-size: 2rem;
    position: sticky;
    top: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.future {
    display: var(--future-display);
}

app-line-item {
    width: 100%;
}